@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Willywonka';
    src: url('/font/WillyWonka.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    caret-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* @media (prefers-color-scheme: dark) { */

html {
    color-scheme: dark;
}

body {
    color: white;
    background: linear-gradient(45deg, rgba(80, 9, 11, 0), #702222, #B75056);
}

input:focus {
    caret-color: auto;
}